.projects-preview{
    padding: 0rem 6rem;
    /* padding-top: 4rem; */
    background-color: #185530;
    display: flex;
    color: #f7f7f7;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.projects-preview h1{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.projects-preview button{
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #915c29;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.projects-preview img{
    width: 40vw;
    height: 550px;
    object-fit: cover;
    border-radius: 8px;
}
@media(max-width:1000px){
    .projects-preview{
        padding: 2rem 3rem;
    }
}
@media(max-width:800px){
    .projects-preview h1{
        font-size: 1.4rem;
    }
    .projects-preview img{
        height: 450px;
    }
}
@media(max-width:600px){
    .projects-preview{
        padding: 1rem;
        flex-flow: column-reverse;
        justify-content: center;
    }
    .projects-preview h1{
        font-size: 1.1rem;
        font-weight: 400;
    }
    .projects-preview img{
        height: 350px;
        width: 55vw;
    }
    .projects-preview button{
        font-size: 0.9rem;
    }
    .projects-preview .text-content{
        text-align: center;
    }
}