.events-container{
    padding: 0rem 6rem;
    display: flex;
    gap: 2rem;
    color: #185530;
    background-color: #f7f7f7;
    flex-wrap: wrap;
}
.event{
    width: 30%;
    border-radius: 6px;
}
.event img{
    width: 100%;
    height: 30vh;
    border-radius: 6px;
    object-fit: cover;
}
.event h3{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;

}
.event h4{
    font-weight: 400;
    font-size: 1rem;
}
.event button{
    color: white;
    background-color: #915c29;
    padding: 0.5rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 1.1rem;
}
.no-events{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.no-events p{
    font-size: 2.3rem;
}
.events-container .loader{
    padding-top: 3rem;
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.events-container .loader img{
    width: 20%;
    height: 100%;
    margin: 0 auto;
    border-radius: 50%;
    animation: loading 0.5s alternate-reverse infinite;
}
@keyframes loading{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.1);
    }
}
@media(max-width:1000px){
    .events-container{
        padding: 2rem 3rem;
    }
    .event{
        width: 45%;
    }
    .event h3{
        font-size: 1.1rem;
    }
    .event h4{
        font-size: 0.9rem;
    }
    .events-container .loader img{
        width: 30%;
    }
}
@media(max-width:700px){
    .event{
        width: 100%;
    }
    .events-container{
        padding: 2rem 1rem;
    }
    .event h3{
        font-size: 1rem;
    }
    .event h4{
        font-size: 0.85rem;
    }
    .event button{
        font-size: 0.9rem;
    }
}
@media(max-width:650px){
    .no-events p{
        font-size: 1.1rem;
    }
    .events-container .loader img{
        width: 65%;
    }
}