.project-detail{
    padding: 2rem 6rem;
    display: flex;
    flex-flow: column;
}

.project-detail > button{
    align-self: start;
    padding: 0.5rem 3rem;
    border-radius: 3px;
    border: 0;
    background-color: #185530;
    color: white;
    position: relative;
    top: -0.5rem;
    left: -3rem;
    z-index: -100;
    margin-bottom: 1rem;
}

.project-detail h1{
    text-align: center;
    color: #0d3f21;
}

.project-detail .project-img{
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 0;
    border-radius: 10px;
}

.project-img img{
    border-radius: 10px;
    width: 100%;
}

.project-detail .date-location{
    color: #915c29;
    text-align: center;
}

.project-detail .project-description{
    margin-top: 1rem;
}

.call-to-action{
    display: flex;
    background-color: #0d3f21;
    margin-top: 2rem;
    padding: 2rem 6rem 2rem 10rem;
    justify-content: center;
    gap: 4rem;
    color: white;
    
}

.call-to-action img{
    width: 27rem;
    border-radius: 7px;
    object-fit: cover;
}

.call-to-action .prompt{
    width: fit-content;
    align-self: center;
    display: flex;
    flex-flow: column;
}

.prompt h1{
    font-size: 2.5rem;
    text-align: center;
}

.prompt p{
    color: #dd8635;
    margin-top: 0.5rem;
    text-align: center;
}

.prompt button{
    padding: 1rem 4rem;
    background-color: #dd8635;
    color: white;
    border-radius: 5px;
    border: 0;
    outline: 0;
    margin: auto;
    margin-top: 1rem;
    transition: 0.5s all;
}

.prompt button:hover{
    background-color: #915c29;
    transition: 0.5s all;
}

@media (max-width:900px){

    .project-detail{
        padding: 2rem 4rem;
    }
}

@media (max-width:700px){ 
    
    .project-detail h1{
        font-size: 1.8rem;
    }

    .project-detail{
        padding: 2rem 3rem;
    }
    
    .project-detail .project-description{
        font-size: 0.9rem;
    }
    
    .project-detail > button{
        top: 0;
        left: -2rem;
    }
}

@media (max-width:500px){ 
    
    .project-detail{
        padding: 2rem 2rem;
    }
    
    .project-detail h1{
        font-size: 1.7rem;
    }

    .project-detail > button{
        top: 0;
        left: 0;
    }
    
}

@media (max-width:400px){ 
    
    .project-detail h1{
        font-size: 1.6rem;
    }

    .project-detail .project-description{
        font-size: 0.8rem;
    }

}

    /* MEDIA QUERY FOR THE CALL TO ACTION */

@media (max-width:1060px){
    .call-to-action{
        padding: 2rem 6rem 2rem 5rem;
    }

    .call-to-action img{
        width: 25rem;
    }

    .prompt h1{
        font-size: 2.3rem;
    }
}

@media (max-width:920px){
    .call-to-action img{
        width: 22rem;
    }

    .prompt h1{
        font-size: 2.1rem;
    }

    .prompt p{
        font-size: 0.9rem;
    }
}


@media (max-width:800px){
    
    .call-to-action{
        padding: 2rem 4rem 2rem 5rem;
        gap: 2rem;
    }
    
    .call-to-action img{
        width: 17rem;
    }
    
    .prompt h1{
        font-size: 1.8rem;
    }
    
    .prompt p{
        font-size: 0.75rem;
    }
    
    .prompt button{
        padding: 1rem 3rem;
    }
}

@media (max-width:700px){
    .call-to-action{
        flex-flow: column;
        padding-inline: 2rem;
    }
    
    .call-to-action img{
        width: 100%;
        height: 10rem;
    }
    
    .prompt h1{
        font-size: 1.5rem;
    }
    
    .prompt p{
        font-size: 0.65rem;
    }
}


@media (max-width:450px){
    .call-to-action {
        gap: 1.5rem;
        padding-inline: 1rem;
    }
    
    .prompt button{
        padding: 1rem 2rem;
    }
}

@media (max-width:400px){

    .prompt h1{
        font-size: 1.4rem;
    }

}