.info{
    padding: 0.5rem 6rem;
    background-color: whitesmoke;
    color: #185530;
}
.info p{
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 10000;
    display: flex;
    width: 100%;
    padding: 1rem 6rem 0;
    justify-content: space-between;
    align-items: center;
    background-color: #185530;
    color: white;
    border-bottom: 3px solid #915c29;
    /* border-top: 3px solid #915c29; */
}
.navbar .logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.navbar .nav-links{
    display: flex;
    gap: 2rem;
}
.navbar .nav-links a{
    color: inherit;
    font-size: 1rem;
    text-decoration: none;
}