.info{
    padding: 0.5rem 6rem;
    background-color: whitesmoke;
    color: #185530;
}
.info p{
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 10000;
    display: flex;
    width: 100%;
    padding: 1rem 6rem 0;
    justify-content: space-between;
    align-items: center;
    background-color: #185530;
    color: white;
    border-bottom: 3px solid #915c29;
    /* border-top: 3px solid #915c29; */
}
.navbar .logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.navbar .nav-links{
    display: flex;
    gap: 2rem;
}
.navbar .nav-links a, .navbar button{
    color: inherit;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.navbar .nav-links a.active{
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}
.navbar .hamburger{
    display: none;
}
.navbar .hamburger svg{
    width: 40px;
    height: 40px;
    fill: #915c29;
}
.navbar .dropdown-menu{
    position: absolute;
    bottom: -3.25rem;
    right: 1rem;
    display: flex;
    gap: 1.5rem;
    background-color: #4b8562;
    z-index: -100;
    padding: 1rem 2rem;
    border-radius: 5px;
    transform: translateY(-500%);
    transition: all 0.2s ease;
}
.navbar .dropdown-menu.open{
    transform: translateY(0);
    transition: all 0.2s ease;
}
@media(max-width:900px){
    .navbar{
        padding-inline: 2rem;
    }
    .info{
        padding-inline: 2rem;
    }
}
@media(max-width:850px){
    .navbar .hamburger{
        display: flex;
    }
    .navbar{
        flex-flow: row-reverse;
        /* overflow: scroll; */
    }
    .navbar .nav-links{
        position: absolute;
        top: 5.1rem;
        left: 0;
        flex-flow: column;
        justify-content: center;
        align-items: center;        
        gap: 0;
        background-color: #185530;
        width: 70vw;
        height: 90vh;
        transition: all 0.3s ease-out;
        overflow: scroll;
    }
    .navbar.closed .nav-links{
        transform: translateX(-100%);
        transition: all 0.3s ease-out;
    }
    .navbar .nav-links a, .navbar button{
        display: block;
        width: 100%;
        font-size: 1.1rem;
        text-align: center;
        padding-block: 0.7rem;
        font-weight: 400;
        border-radius: 6px;
    }
    .navbar .dropdown-menu{
        position: static;
        z-index: inherit;
        flex-flow: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        display: none;
        transition: all 0.2s ease;
    }
    .navbar .dropdown-menu a{
        font-size: 0.85rem;
    }
    .navbar .dropdown-menu.open{
        display: flex;
        transition: all 0.2s ease;
    }
    .navbar .nav-links a.active{
        background-color: #915c29;
    }
    .info p{
        font-size: 0.9rem;
    }
}
@media(max-width:500px){
    .navbar .nav-links{
        width: 85vw;
    }
}