.member{
    width: 31%;
    background-color: white;
    padding: 1rem;
    border-radius: 6px;
    cursor: pointer;
}
.member img{
    width: 100%;
    height: 55vh;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
}
.member h3{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.member h4{
    font-size: 0.9rem;
    color: #915c29;
}
@media(max-width:1000px){
    .member img{
        height: 40vh;
    }
}
@media(max-width:850px){
    .member{
        width: 48%;
    }
}
@media(max-width:600px){
    .member{
        width: 100%;
    }
    .member img{
        height: 50vh;
    }
    
}