.team-members{
    padding: 2rem 6rem;
    color: #185530;
}
.team-members h1{
    font-size: 3rem;
    color: #915c29;
    margin-bottom: 1.5rem;
}
.team-list{
    width: 100%;
}
.team-list h2{
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}
.members{
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
}
@media(max-width:1000px){
    .team-members{
        padding: 2rem 3rem;
    }
    .team-members h1{
        font-size: 2.3rem;
        margin-bottom: 1rem;
    }
    .team-list h2{
        font-size: 1.4rem;
    }
}
@media(max-width:600px){
    .team-members{
        padding: 2rem 1rem;
    }
    .team-members h1{
        font-size: 1.8rem;
        margin-bottom: 0.7rem;
    }
    .team-list h2{
        font-size: 1.1rem;
    }
}