.team-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  padding-right: 0;
  background-color: #185530;
  height: 50vh;
  overflow: hidden;
}
.team-preview .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-preview img {
  width: 50vw;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 7px;
}
.team-preview a {
  color: #f7f7f7;
  font-size: 1.3rem;
  text-underline-offset: 0.2rem;
}
