.focus-areas{
    padding: 2rem 6rem;
    color: #185530;
}
.focus-areas *{
    transform: translateX(-5rem);
    opacity: 0;
    filter: blur(5px);
}
.focus-areas.visible *{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: all 0.4s ease;
}
.focus-areas h1{
    font-size: 3rem;
    color: #915c29;
}
.focus-areas-list{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}
.focus-areas-list .list{
    width: 31%;
    outline: 2px solid #185530;
    padding: 1.5rem;
    border-radius: 8px;
}
.focus-areas-list .list h3{
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}
.focus-areas-list .list p{
    font-size: 0.9rem;

}
@media(max-width:1000px){
    .focus-areas{
        padding: 2rem;
    }
    .focus-areas h1{
        font-size: 2.3rem;
    }
    .focus-areas-list .list{
        width: 48%;
    }
}
@media(max-width:665px){
    .focus-areas{
        padding: 2rem 0rem;
    }
    .focus-areas-list{
        gap: 0;
    }
    .focus-areas h1{
        font-size: 1.3rem;
        margin-left: 1rem;
    }
    .focus-areas-list .list{
        border-radius: 0;
        width: 100%;
        padding: 1rem;
    }
}