.hero{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 0rem;
}
.hero .hero-company-name{
    padding: 2rem 6rem;
    text-align: center;
}
.hero .hero-company-name h1{
    line-height: 1.5;
    color: #915c29;
}
.hero .hero-image{
    width: 100vw;
    margin: 0 auto;
}
.hero .hero-image img{
    width: 100vw;
    height: 90vh;
    object-fit: cover;
    filter: brightness(0.9);
}
@media(max-width:1000px){
    .hero .hero-company-name{
        padding-inline: 2rem;
    }
    .hero .hero-company-name h1{
        font-size: 1.5rem;
    }
    .hero .hero-image img{
        height: 65vh;
    }
}
@media(max-width:600px){
    .hero .hero-company-name{
        padding-block: 1rem;
    }
    .hero .hero-company-name h1{
        font-size: 1.2rem;
        line-height: 1.2;
    }
    .hero .hero-image img{
        height: 50vh;
    }
}
@media(max-width:450px){
    .hero .hero-company-name{
        padding-inline: 1rem;
    }
    .hero .hero-company-name h1{
        font-size: 1rem;
    }
}