@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
    background-color: #f7f7f7;
}

/* #915c29 */
/* #185530 */